.email-header >*{
    margin-inline: 30px;
}

.email-header button {
    border-radius: 50%;
}

.email-header button:hover{
    background-color: var(--mail-bg-color-hover);
}

.email-header .logo{
    cursor: pointer;
    height: 30px;
}

.search-sec{
    background-color:rgb(234,241,251) ;
    padding: 5px;
    border-radius: 30px;
}

.search-sec input{
    border: 0;
    background-color:rgb(234,241,251) ;
}

.search-sec input:focus {
    outline: none; 
    border: none;  
  }

  .email-header .sort input[type="checkbox"] {
    display: none; 
    background-color: white;
}


  .email-header .sort label {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px lightgray solid;
    margin-inline: 5px;
}
  .email-header .sort label >* {
    margin-inline: 5px;
}



  