.email-filter {
    margin: 0;
    background-color: var(--email-page-bg-color);
    height: 100vh;
    width: 90px;
    transition: 200ms;
}

.email-filter:hover, .email-filter.open {
    z-index: 2;
    width: 250px;
}

.email-filter button {
    position: relative;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    width: max-content;
}
.email-filter button:not(:first-child) {
    width: 95%;
}

.email-filter button img {
    margin-inline-start: 30px;
    width: 25px;
}

.email-filter button:hover:not(:first-child, .select) {
    background-color: var(--mail-bg-color-hover);
    width: 100%;
}

.email-filter button.select {
    background-color: var(--mail-bg-color-select);
}

.email-filter .new-email-icn {
    margin-inline: 25px;
    margin-block-end: 10px;
    background-color: var(--new-mail-bg-color);
    padding: 10px;
    border-radius: 10px;
}

.email-filter .new-email-icn img {
    margin-inline: 0px;
}

.email-filter .new-email-icn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.email-filter button .text {
    display: none;
}

.email-filter:hover button .text {
    display: inline;
    margin-inline: 10px;
}

.email-filter.open button .text{
    display: inline;
    margin-inline: 10px;
}

.email-filter .draft-count, .email-filter .unread-count {
    position: absolute;
    right: 10px;
    font-weight: bold;
}

.email-filter .sow-dot::before {
    position: absolute;
    content: "";
    width: 8px; 
    height: 8px; 
    background-color:rgb(197,34,31);
    border-radius: 50%; 
    left: 60px
}