.note-card {
  height: max-content;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
  transition: background-color 400ms ease-in-out;
}

.list-button {
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
}
.list-button:hover {
  background-color: var(--mail-bg-color-hover);
  cursor: pointer;
}
.list-button img {
  width: 1rem;
}
