.search-bar {
  background-color: var(--gray1);
  border: 0;
  border-radius: 5px;
  width: 40vw;
  align-self: center;
}

.search-bar form {
  background-color: var(--gray1);
  width: 100%;
}

.search-bar input {
  background-color: var(--gray1);
  width: 95%;
}

.search-bar button {
  padding: 10px;
  background-color: var(--gray1);
  border: 0;
  border-radius: 50%;
}

.search-bar button img {
  width: 1rem;
}
