.email-index{
    position: absolute;
    background-color: var(--email-page-bg-color);
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.email-index button{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 10px;
}

/* .email-index .email-filter:hover {
    position: absolute;
    width: 250px;
}
.email-index .email-filter:hover + .email-list{
    position: absolute;
    left: 90px;
    margin-inline-start: 90px; 
} */