.email-index{
    position: absolute;
    background-color: var(--email-page-bg-color);
    height: 100%;
    width: 100%;
}

.email-index button{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 10px;
}
