.email-index {
    position: absolute;
    background-color: var(--email-page-bg-color);
    height: 80%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

.email-index button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 10px;
}


.email-index .email-filter.open+.email-list,
.email-index .email-filter.open+.email-data {
    left: 250px;
    min-width: 80%;
}