@media (max-width: 600px) {
    .email-header>* {
        margin: 15px;
    }

    .email-header {
        flex-direction: column;
    }

    .email-filter {
        position: absolute;
        left: -100px;
        z-index: 2;
    }

    .email-list,
    .email-data {
        left: 5px;
        width: 95%;
    }

    .email-index .email-filter.open+.email-list,
    .email-index .email-filter.open+.email-data {
        left: 5px;
    }

    .email-filter.open {
        position: absolute;
        left: 0px
    }

    .new-email {
        height: 450px;
        width: 300px;
    }

    .new-email.minimize {
        bottom: -400px;
        height: 450px;
        width: 300px;
    }
}

@media (max-width: 810px) {
    .email-header>* {
        margin: 10px;
    }

    .email-header {
        flex-direction: column;
    }

    .email-header .sort label {
        padding: 5px;
    }

    .email-header>*>* {
        margin-inline: 0px;
    }

    .app-header .menu-icone {
        position: fixed;
        display: inline;
        right: 20px;
    }

    .main-nav-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: rgb(210, 215, 216);
        top: 80px;
        right: -100px;
        width: 100px;
        height: 200px;
        transition: 200ms;
        z-index: 10;
    }
    
    .main-nav-container.open{
        right: 0px;
    }
}

@media (min-width: 810px) {
    .app-header .menu-icone {
        display: none;
    }
}